<!DOCTYPE html>
<html lang="ko">
	<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Game Translation Page in a Python Flask Application">

    <title>Easy Game Hangeulhwa</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>

<header>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">게임 한글화</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0"></ul>
			</div>
		</div>
	</nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <br>
    <br>
    <h1 class="mt-5">캐릭터 이름 등록</h1>
    <p class="lead">
			캐릭터 정보를 용어집에 등록하세요.
    </p>

    <form class="mt-4" action="/translation" name="charDict" method="post" enctype="multipart/form-data">
      {% for name, value in charList.items() %}
			<div class="row">
				<div class="col-sm-3 my-3">
					<b>{{ name }}</b> :
				</div>
				<div class="col-sm-9 my-3">
					<input type="text" name="{{ name }}" class="form-control input" required>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 mb-3">
				</div>
				<div class="col-sm-1 mb-3">
					주요 특징:
				</div>
				<div class="col-sm-8 mb-3">
					<input type="text" name="{{ name }}_features" class="form-control input" placeholder="스페이스로 구분, 최대 5개 입력">
				</div>
			</div>
      {% endfor %}
        <button type="button" class="btn btn-primary" name="add" data-bs-toggle="modal" data-bs-target="#addChar">+ add character</button>
        <button type="submit" class="btn btn-primary float-end" name="submit" value="done">Submit</button>
    </form>
	
		<!-- Modal -->
		<form class="modal fade" action="/charRule" method="post" id="addChar" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Character</h4>
						<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<p>Enter a new character name:</p>
						<input type="text" name="newChar" class="form-control input" required>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-secondary" name="submit" value="new" required>add</button>
					</div>
				</div>
			</div>
		</form>
  </div>
</main>


    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
  </body>
</html>
